<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Vollkorn+SC|Spectral+SC" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="styles/style.css" style="text/css" />
	</head>
	<body class="container" style="background-image: url(styles/pic1.jpg); background-attachment: fixed;">


	<nav class="navbar navbar-default navbar-toggleable-xl fixed-top " style="overflow: hidden; background-color: #13849E">
		<div class="container-fluid">
			<div>
				<a class="navbar-brand"  href="home">Ski U</a>
			</div>

			<ul class="nav navbar-default">
				<a href="profile" style="margin-right:10px" class="btn">Profile</a>
				<a href="createEvent" style="margin-right:10px" class="btn">Make Event</a>
				<a href="about" style="margin-right:10px" class="btn">About</a>
				<a href="home/logout" class="btn">Logout</a>
			</ul>
		</div>
	</nav>

	<h1 style="font-family: 'Montserrat', sans-serif; font-size: 48px; padding: 30px; background-color: #4b8cf4; border-color: #557ec1; border-radius: 10px; margin-top: 20px; margin-bottom: 20px">My Events</h1>
	<div class="row" style="margin-bottom: 20%">
		<!-- First column -->
		<div class="col-4">
			<!-- Class -->
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-driver-list" data-toggle="list" href="#list-driver" role="tab" aria-controls="list-driver">Driver</a>
				<a class="list-group-item list-group-item-action" id="list-passenger-list" data-toggle="list" href="#list-passenger" role="tab" aria-controls="passenger">Passenger</a>
			</div>
			<!-- Class -->
		</div>
		<!-- First column -->

		<!-- Second column -->
		<div class="col-8">
			<!-- Content -->
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-driver" role="tabpanel" aria-labelledby="list-driver-list">
					<% for (myClass in my_events) { %>
					<% if (myClass == "driver") { %>
					<% for (eventId in my_events[myClass]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
							<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
							<div class="card-block">
								<h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= myClass %></h4>
								<p class="card-text"><%= my_events[myClass][eventId].description %></p>
							</div>
							<ul class="list-group list-group-flush">
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].date %></li>
									</div>
								</div>
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].departure %></li>
									</div>
								</div>
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].date %></li>
									</div>
								</div>
							</ul>
							<div class="card-block text-center">
								<button type="button" class="btn btn-primary" >Sign Up</button>
							</div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
				<div class="tab-pane fade" id="list-passenger" role="tabpanel" aria-labelledby="list-passenger-list">
					<% for (myClass in my_events) { %>
					<% if (myClass == "driver") { %>
					<% for (eventId in my_events[myClass]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
							<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
							<div class="card-block">
								<h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= myClass %></h4>
								<p class="card-text"><%= my_events[myClass][eventId].description %></p>
							</div>
							<ul class="list-group list-group-flush">
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].date %></li>
									</div>
								</div>
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].departure %></li>
									</div>
								</div>
								<div class="row">
									<div class="col-sm" style="padding-right: 0px">
										<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
									</div>
									<div class="col-sm" style="padding-left: 0px">
										<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= my_events[myClass][eventId].date %></li>
									</div>
								</div>
							</ul>
							<div class="card-block text-center">
								<button type="button" class="btn btn-primary" >Sign Up</button>
							</div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
			</div>
			<!-- Content -->
		</div>
		<!-- Second column -->
	</div>


	<h1 style="font-family: 'Montserrat', sans-serif; font-size: 48px; padding: 30px; background-color: #4b8cf4; border-color: #557ec1; border-radius: 10px">All Events</h1>
	<div class="row" style="margin-bottom: 20%">
	  <!-- First column -->
    <div class="col-4">
	    <!-- Resorts -->
	    <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-aBasin-list" data-toggle="list" href="#list-aBasin" role="tab" aria-controls="list-aBasin">Arapahoe Basin</a>
	      <a class="list-group-item list-group-item-action" id="list-aspen-list" data-toggle="list" href="#list-aspen" role="tab" aria-controls="aspen">Aspen</a>
	      <a class="list-group-item list-group-item-action" id="list-beaverCreek-list" data-toggle="list" href="#list-beaverCreek" role="tab" aria-controls="beaverCreek">Beaver Creek</a>
		  <a class="list-group-item list-group-item-action" id="list-breckenridge-list" data-toggle="list" href="#list-breckenridge" role="tab" aria-controls="breckenridge">Breckenridge</a>
		  <a class="list-group-item list-group-item-action" id="list-copper-list" data-toggle="list" href="#list-copper" role="tab" aria-controls="copper">Copper Mountain</a>
		  <a class="list-group-item list-group-item-action" id="list-eldora-list" data-toggle="list" href="#list-eldora" role="tab" aria-controls="eldora">Eldora</a>
	      <a class="list-group-item list-group-item-action" id="list-keystone-list" data-toggle="list" href="#list-keystone" role="tab" aria-controls="keystone">Keystone</a>
	      <a class="list-group-item list-group-item-action" id="list-loveland-list" data-toggle="list" href="#list-loveland" role="tab" aria-controls="loveland">Loveland</a>
	      <a class="list-group-item list-group-item-action" id="list-steamboat-list" data-toggle="list" href="#list-steamboat" role="tab" aria-controls="steamboat">Steamboat</a>
	      <a class="list-group-item list-group-item-action" id="list-vail-list" data-toggle="list" href="#list-vail" role="tab" aria-controls="vail">Vail</a>
	    </div>
	    <!-- Resorts -->
	  </div>
	  <!-- First column -->

	  <!-- Second column -->
	  <div class="col-8">
	    <!-- Content -->
	    <div class="tab-content" id="nav-tabContent">
	      <div class="tab-pane fade show active" id="list-aBasin" role="tabpanel" aria-labelledby="list-aBasin-list">
					<% for (location in events) { %>
					<% if (location == "Arapahoe Basin") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
	      </div>
	      <div class="tab-pane fade" id="list-aspen" role="tabpanel" aria-labelledby="list-aspen-list">
					<% for (location in events) { %>
					<% if (location == "Aspen") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-beaverCreek" role="tabpanel" aria-labelledby="list-beaverCreek-list">
					<% for (location in events) { %>
					<% if (location == "Beaver Creek") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-breckenridge" role="tabpanel" aria-labelledby="list-breckenridge-list">
					<% for (location in events) { %>
					<% if (location == "Breckenridge") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-copper" role="tabpanel" aria-labelledby="list-copper-list">
					<% for (location in events) { %>
					<% if (location == "Copper Mountain") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-eldora" role="tabpanel" aria-labelledby="list-eldora-list">
					<% for (location in events) { %>
					<% if (location == "Eldora") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-keystone" role="tabpanel" aria-labelledby="list-keystone-list">
					<% for (location in events) { %>
					<% if (location == "Keystone") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-loveland" role="tabpanel" aria-labelledby="list-loveland-list">
					<% for (location in events) { %>
					<% if (location == "Loveland") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-steamboat" role="tabpanel" aria-labelledby="list-steamboat-list">
					<% for (location in events) { %>
					<% if (location == "Steamboat") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	      <div class="tab-pane fade" id="list-vail" role="tabpanel" aria-labelledby="list-vail-list">
					<% for (location in events) { %>
					<% if (location == "Vail") { %>
					<% for (eventId in events[location]) { %>
						<!-- Card -->
						<div class="card" style="width: 20rem;">
						  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51zTubVDZoL.jpg" alt="Mr. Tickles">
						  <div class="card-block">
						    <h4 class="card-title" style="font-family: 'Spectral SC', sans-serif"><%= eventId %><%= location %></h4>
						    <p class="card-text"><%= events[location][eventId].description %></p>
						  </div>
						  <ul class="list-group list-group-flush">
						  	<div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Date:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif; ">Depart at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].departure %></li>
						    	</div>
						    </div>
						    <div class="row">
						  		<div class="col-sm" style="padding-right: 0px">
						    		<li class="list-group-item" style="font-family: 'Spectral SC', sans-serif;">Return at:</li>
						    	</div>
						    	<div class="col-sm" style="padding-left: 0px">
						    		<li class="list-group-item" style="font-family: 'Montserrat', sans-serif;"><%= events[location][eventId].date %></li>
						    	</div>
						    </div>
						  </ul>
						  <div class="card-block text-center">
						    <button type="button" class="btn btn-primary" >Sign Up</button>
						  </div>
						</div>
						<!-- Card -->
					<% } %>
					<% } %>
					<% } %>
				</div>
	    </div>
	    <!-- Content -->

	  </div>
	  <!-- Second column -->

	</div>




<!--Page Content -->


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

	</body>
</html>
