/*Style*/

.container {
    /*color: #777;*/
    background-color: #4286f4;
    text-align:center;
    padding:50px 80px;
    margin:0px;
    text-align: justify;
    width:100%;
    max-width: 100%;
}

.navbar-brand{

	font-size: 25px;
	font-weight: bold;
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif;
	
}

.navbar{

	height: 50px;
	min-height: 0;
}


.btn{

	font-family: 'Source Sans Pro', sans-serif;
	width: 140px;
	height: 30px;
	padding: 6px;
	font-size: 15px;
	
	letter-spacing: 1.5px;
	font-weight: bold;
	color: #13849E;
	background: white;
	border-radius: 100px;
}

.btn:hover{

	background-color: #AAD5E6;
	
}

body, html{
	height: 100%;
	margin: 0px;
	
}

body{
	display: block;
}

p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pic1, .pic2 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic1 { 
    /* The image used */
    background-image: url(pic1.jpg);
    min-height: 80%;
}

.pic2 { 
    /* The image used */
    background-image: url(pic2.jpg);
    min-height: 80%;
}

.pic3 { 
    /* The image used */
    background-image: url(pic3.jpg);
    min-height: 80%;
}

.logo{
    content:url(SkiULogoWhite.png);
    padding-top: 200px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto; 
    height: auto;
    width: auto;
    max-width: 800px;
    max-height: 800px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
